* {
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.holder{
  margin-top: 20%;
  margin-left: 50%;
  margin-bottom: 120%;
}
.user__avatar{
  position: fixed;
  top:10%;
  z-index: 2;
  right: 3%;

}